# ~/.gitconfig

[alias]
	lg = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(yellow)%d%Creset'
	last = cat-file commit HEAD
	lol = log --oneline --graph --decorate --all

[push]
	default = simple

[init]
	defaultBranch = main

[user]
	name = Dimitri Depardieu
	email = dimitridepardieu@gmail.com
