# ~/.gitconfig

[user]
	name = Dimitri Depardieu
	email = dimitridepardieu@gmail.com

[init]
	defaultBranch = main

[push]
	default = simple

[alias]
	st = status
	lg = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(yellow)%d%Creset'
	lol = log --oneline --graph --decorate --all
	last = cat-file commit HEAD
